.ant-badge-status-dot{
    width: 10px;
    height: 10px;
}
.bindModules .ant-modal-body{
    padding: 0
}
.center{
    text-align: center
}
html,body,#root{
    width: 100%;
    height: 100%;
}
.ant-layout{
    height: 100%;
}
.logo{
    margin: 20px 0;
    text-align: center;
    font-size: 23px;
    font-family: -webkit-body;
    color: #fff
}
.logo a{
    color: #fff
}
.header {
    height: 64px;
    padding: 0 12px 0 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    position: relative;
}
.right {
    float: right;
    height: 100%;
   
 }
.right .action {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    transition: all 0.3s;
    height: 100%;
}
.right .action:hover{
    background-color: #e6f7ff
}
.avatar {
    margin: 20px 8px 20px 0;
    background:#1890ff;
    vertical-align: middle;
  }
.ant-select-dropdown-menu li:first-child{
    background-color: #6eb9ff;
    text-align: center
}
.ant-select-dropdown-menu li:first-child:hover{
    background-color: #1890ff;
    text-align: center
}
.vertical-center-modal {
    text-align: center;
    white-space: nowrap;
  }
  .vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  
  .vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
  }